<%- include('partials/header') %>
<div class="container">
	<div class="row justify-content-center mt-5">
		<h1>Howdy, <%= user.first_name %>!</h1>
	</div>
</div>
<div class="container">
	<div class="row justify-content-around">
		<a href="./events" style="color: white; display: contents; text-decoration: none;">
			<div class="col-10 col-md-3 text-center portal-card mt-5" id="divEvents">
				<div class="row justify-content-center">
					<i class="fas fa-calendar-alt"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Events</h2>
				</div>
			</div>
		</a>

		<a href="./projects" style="color: white; display: contents; text-decoration: none;">
			<div class="col-10 col-md-3 text-center portal-card mt-5" id="divProjects">
				<div class="row justify-content-center">
					<i class="fas fa-tasks"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4 mx-4">Manage Projects</h2>
				</div>
			</div>
		</a>

		<a href="./emails" style="color: white; display: contents; text-decoration: none;">
			<div class="col-10 col-md-3 text-center portal-card mt-5" id="divEmails">
				<div class="row justify-content-center">
					<i class="far fa-paper-plane"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Emails</h2>
				</div>
			</div>
		</a>
	</div>
	<div class="row justify-content-around">
		<a href="./sponsors" style="color: white; display: contents; text-decoration: none;">
			<div class="col-10 col-md-3 text-center portal-card mt-5" id="divSponsors">
				<div class="row justify-content-center">
					<i class="fas fa-store"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Sponsors</h2>
				</div>
			</div>
		</a>
	</div>
</div>

<script src="/scripts/portal/index.js"></script>
<%- include('partials/footer') %>
