<%- include('partials/header') %>
<div class="container">
	<div class="row justify-content-center mt-5">
		<h1>Howdy, <%= user.first_name %>!</h1>
	</div>
</div>
<div class="container">
	<div class="row justify-content-around">
		<div class="col-10 col-md-4 text-center mt-5">
			<a href="./events/manage-events" class="portal-card">
				<div class="row justify-content-center">
					<i class="fas fa-calendar-alt"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Events</h2>
				</div>
			</a>
		</div>

		<div class="col-10 col-md-4 text-center mt-5">
			<a href="./projects" class="portal-card">
				<div class="row justify-content-center">
					<i class="fas fa-tasks"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Projects</h2>
				</div>
			</a>
		</div>

		<div class="col-10 col-md-4 text-center mt-5">
			<a href="./emails" class="portal-card">
				<div class="row justify-content-center">
					<i class="far fa-paper-plane"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Emails</h2>
				</div>
			</a>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-10 col-md-4 text-center mt-5">
			<a href="./sponsors" class="portal-card">
				<div class="row justify-content-center">
					<i class="fas fa-store"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Sponsors</h2>
				</div>
			</a>
		</div>
		<div class="col-10 col-md-4 text-center mt-5">
			<a href="./officers" class="portal-card">
				<div class="row justify-content-center">
					<i class="fas fa-user-tie"></i>
				</div>
				<div class="row justify-content-center">
					<h2 class="pt-4">Manage Officers</h2>
				</div>
			</a>
		</div>
	</div>
</div>

<script src="/scripts/portal/index.js"></script>
<%- include('partials/footer') %>
