<%- include('partials/header') %>
<div class="container">
	<div class="row justify-content-center mt-5">
		<h1>Howdy, <%= user.first_name %>!</h1>
	</div>
</div>
<div class="container">
	<div class="row justify-content-around">
		<div class="col-10 col-md-3 text-center portal-card mt-5" id="divEvents">
			<div class="row justify-content-center">
				<i class="fas fa-calendar-day"></i>
			</div>
			<div class="row justify-content-center">
				<h2 class="pt-4">View Events</h2>
			</div>
		</div>

		<div class="col-10 col-md-3 text-center portal-card mt-5" id="divRecords">
			<div class="row justify-content-center">
				<i class="fas fa-video"></i>
			</div>
			<div class="row justify-content-center">
				<h2 class="pt-4 mx-4">Recordings</h2>
			</div>
		</div>

		<div
			class="col-10 col-md-3 text-center portal-card mt-5"
			id="divViewUserProfile"
		>
			<div class="row justify-content-center">
				<i class="fas fa-address-card"></i>
			</div>
			<div class="row justify-content-center">
				<h2 class="pt-4">View User Profile</h2>
			</div>
		</div>
	</div>
	<div class="row justify-content-around">
		<div
			class="col-10 col-md-3 text-center portal-card mt-5"
			id="divEditUserProfile"
		>
			<div class="row justify-content-center">
				<i class="far fa-edit"></i>
			</div>
			<div class="row justify-content-center">
				<h2 class="pt-4">Edit User Profile</h2>
			</div>
		</div>
	</div>
</div>
<script src="/scripts/portal/index-member.js"></script>
<%- include('partials/footer') %>
