	<div class="footer navbar-fixed-bottom">
			<div class="container py-2">
				<div class="row justify-content-center mt-5">
					<h1 class="font-weight-bold text-uppercase text-center">Stay in Touch</h1>
				</div>
				<div class="row justify-content-center mt-3">
					<div class="col-6 text-center icon-row">
						<a class="white-link" aria-label="LinkedIn Link" href="https://www.linkedin.com/company/aggiedevelopers/" target="_blank"><i class="fab fa-linkedin px-2"></i></a>
						<a class="white-link" aria-label="Contact Us Link" href="/contact-us" target="_blank"><i class="fas fa-envelope px-2"></i></a>
						<a class="white-link" aria-label="GitHub Link" href="https://github.com/Aggie-Web-Developers" target="_blank"><i class="fab fa-github-alt px-2"></i></a>
						<a class="white-link" aria-label="Instagram Link" href="https://www.instagram.com/aggiedevelopers/" target="_blank"><i class="fab fa-instagram px-2"></i></a>
					</div>
				</div>

				<div class="row justify-content-center mt-5">
					<p class="text-center footer-copyright font-500">Copyright &copy; 2020 Aggie Web Developers - <a class="white-link" href="/terms-and-conditions" target="_blank">Terms & Conditions</a> + <a class="white-link" href="/privacy-policy" target="_blank">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</body>
</html>