<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Aggie Web Developers</title>
		<link rel="icon" type="image/png" href="/images/AWD-logo.png">

		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/44473cf6a5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/styles/main.css">

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>

	<body>
		<div id="divNav" class="navbar-fixed-top page-banner">
			<nav class="navbar navbar-expand-lg navbar-dark sticky" id="navbar">
			    <div id="navLeft" class="navbar-collapse collapse w-100 order-1 order-lg-0 dual-collapse2">
			        <ul class="navbar-nav ml-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="/general-meetings">General Meetings</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="/projects">Projects</a>
			            </li>
			        </ul>
			    </div>
			    <div class="mx-auto order-0 order-lg-1 flex-vert-center">
			        <a id="mainLogo" class="navbar-brand mx-auto" href="/"><i class="fas fa-angle-double-left pr-2" aria-hidden="true"></i>AWD<i class="fas fa-angle-double-right pl-2" aria-hidden="true"></i></a>
			        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
			            <span class="navbar-toggler-icon"></span>
			        </button>
			    </div>
			    <div id="navRight" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			        <ul class="navbar-nav mr-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="/our-sponsors">Sponsors</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="/about-us">About Us</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="/contact-us">Contact Us</a>
			            </li>
			        </ul>
			    </div>
			</nav>