<%- include('partials/header') %>
    <div class="container content">
      <div class="d-flex-inline flex-row text-center">
        <div class="col-xs-12">
          <h1 class="home-banner-header">ZoiNkS!</h1>
          <h1 class="font-weight-bold nt-5">Like, this page doesn't exist.</h1>
        </div>
      </div>
    </div>
    </div>
  </body>
<script src="/scripts/404.js"></script>
<%- include('partials/footer') %>
