<%- include('partials/header') %>

			<div class="text-center">
				<div class="container">
					<div class="row justify-content-center">
						<h1 class="font-weight-bold page-header main-purple">About Us</h1>
					</div>
					<div class="row mt-5">
						<p class="about-us-copy main-purple">Aggie Web Developers is an on-campus organization dedicated to empowering Aggies to build technical prowess in web development, network with peers and industry contacts, and learn more about careers in the technology industry. <span class="d-none d-md-block"> Our primary mission is to develop the next generation of professionals, entrepreneurs, and hobbyists; by providing students with an opportunity for growth in web development skills that are ethical and just. To achieve this mission, our organization will provide workshops, social meetings, networking opportunities, and team project opportunities to all members. Additionally, we plan to support our member’s professional development by providing our members with opportunities to learn about diversity, ethical business models, as well as the importance of mental health; to inspire the next generation of change in young professionals.</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">
			<div id="mission-div" class="row justify-content-around">
				<div class="col-sm-10 col-md-7">
					<div class="row">
						<div class="col-12">
							<h2 class="about-us-subheader text-uppercase">
								Our Mission
							</h2>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 mt-4">
							<p class="about-us-copy font-weight-bold text-center">
								To develop the next generation of professionals, entrepreneurs, and hobbyists; by providing students with an opportunity for growth in web development skills that are ethical and just.
							</p>
						</div>
					</div>
				</div>

				<div class="d-none d-lg-flex col-3 justify-content-center align-items-center">
					<div class="d-none d-lg-block container">
						<i class="main-purple text-center mission-icon fas fa-bullseye"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="container container-margin">
			<div class="row justify-content-center">
				<div class="col-sm-10 col-md-7">
					<h2 class="about-us-subheader text-uppercase">
						Our Values
					</h2>
				</div>
			</div>

			<div class="row justify-content-around text-center my-5">
				<div class="col-sm-12 col-lg-6 mt-5">
					<i class="h1-size main-purple font-weight-bold fas fa-globe value-icon mb-3"></i>
					<h3 class="value-title">Diversity</h3>
					<p class="pt-3 about-us-copy">Our members value a diverse set of experiences and viewpoints, which comes by including people of all: races, ethnicities, sexes, gender identities, sexual orientations, physical abilities, national origins, citizenship statuses, ages, religions, identities, and experiences.</p>
				</div>
				<div class="col-sm-12 col-lg-5 mt-5">
					<i class="h1-size main-purple font-weight-bold fas fa-hand-holding-medical value-icon mb-3"></i>
					<h3 class="value-title">Selflessness</h3>
					<p class="pt-3 about-us-copy">Our members are committed to sharing everything we know and helping each other succeed before anything else.</p>
				</div>
				<div class="col-sm-12 col-lg-5 mt-5">
					<i class="h1-size main-purple font-weight-bold fas fa-university value-icon mb-3"></i>
					<h3 class="value-title">Integrity</h3>
					<p class="pt-3 about-us-copy">Our members are committed to following through with our word, commitments, and responsibilities.</p>
				</div>
				<div class="col-sm-12 col-lg-5 mt-5">
					<i class="h1-size main-purple font-weight-bold fas fa-people-carry value-icon mb-3"></i>
					<h3 class="value-title">Teamwork</h3>
					<p class="pt-3 about-us-copy">Our members are committed to being supportive, present, and dependable for each other and all projects, big or small.</p>
				</div>
				<div class="col-sm-12 col-lg-5 mt-5">
					<i class="h1-size main-purple font-weight-bold fas fa-hat-cowboy value-icon mb-3"></i>
					<h3 class="value-title">Enthusiasm</h3>
					<p class="pt-3 about-us-copy">Our members pride ourselves on our work and our mission. We come equipped to every meeting with a positive mindset and a readiness to tackle challenges.</p>
				</div>
			</div>
		</div>

		<div class="container-fluid team-sub-banner">
			<h2 class="font-weight-bold team-header text-center">Our Team</h2>
		</div>

		<div class="container my-5">

			<div class="row justify-content-around">
				<div class="col-10 col-md-6 col-lg-4">
					<div class="officer-card">
						<div class="officer-card-inner">
							<div class="front">
								<div class="officer-card-background-photo"></div>
								<div class="officer-card-photo photo-president"></div>
								<div class="officer-card-body">
									<h3 class="officer-name">Cole D. Connelly</h3>
									<p>he/him/his</p>
									<h4 class="officer-title"><i class="fas fa-hat-wizard mr-2"></i>President</h4>
									<p><i class="fas fa-star mr-2"></i>Co-Founder</p>
									<p><i class="fas fa-map-marker-alt front-icons mr-2"></i>Austin, TX</p>
									<p class="hover-only d-none d-lg-block">Hover to Learn More</p>
								</div>
							</div>
							<div class="back">
								<div class="social-media-wrapper">
									<a href="https://github.com/cdconn00/" class="social-icon" aria-label="Visit Cole's Github" title="Visit My Github" target="_blank"><i class="fab fa-github-alt"></i></a>
									<a href="https://www.linkedin.com/in/cole-connelly/" class="social-icon" aria-label="Visit Cole's LinkedIn" title="Connect with Me" target="_blank"><i class="fab fa-linkedin"></i></a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4">
					<div class="officer-card">
						<div class="officer-card-inner">
							<div class="front">
								<div class="officer-card-background-photo"></div>
								<div class="officer-card-photo photo-vp"></div>
								<div class="officer-card-body">
									<h3 class="officer-name">Vignesh Joglekar</h3>
									<p>he/him/his</p>
									<h4 class="officer-title"><i class="fas fa-hat-wizard mr-2"></i>Vice President</h4>
									<p><i class="fas fa-map-marker-alt front-icons mr-2"></i>Coppell, TX</p>
									<p class="hover-only d-none d-lg-block">Hover to Learn More</p>
								</div>
							</div>
							<div class="back">
								<div class="social-media-wrapper">
									<a href="https://github.com/Vigasaurus/" class="social-icon" aria-label="Visit Vignesh's Github" title="Visit My Github" target="_blank"><i class="fab fa-github-alt"></i></a>
									<a href="https://vigneshjoglekar.com/" class="social-icon" aria-label="Visit Vignesh's Website" title="Connect with Me" target="_blank"><i class="far fa-user"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4">
					<div class="officer-card">
						<div class="officer-card-inner">
							<div class="front">
								<div class="officer-card-background-photo"></div>
								<div class="officer-card-photo photo-default"></div>
								<div class="officer-card-body">
									<h3 class="officer-name">Chris McGregor</h3>
									<p>he/him/his</p>
									<h4 class="officer-title"><i class="fas fa-hat-wizard mr-2"></i>Treasurer</h4>
									<p><i class="fas fa-star mr-2"></i>Co-Founder</p>
									<p><i class="fas fa-map-marker-alt front-icons mr-2"></i>Corpus Christi, TX</p>
									<p class="hover-only d-none d-lg-block">Hover to Learn More</p>
								</div>
							</div>
							<div class="back">
								<div class="social-media-wrapper">
									<a href="https://github.com/f4alt/" class="social-icon" aria-label="Visit Chris' Github" title="Visit My Github" target="_blank"><i class="fab fa-github-alt"></i></a>
									<a href="https://www.linkedin.com/in/christopher-mcgregor-490732179/" aria-label="Visit Chris' LinkedIn" class="social-icon" title="Connect with Me" target="_blank"><i class="fab fa-linkedin"></i></a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4">
					<div class="officer-card">
						<div class="officer-card-inner">
							<div class="front">
								<div class="officer-card-background-photo"></div>
								<div class="officer-card-photo photo-default"></div>
								<div class="officer-card-body">
									<h3 class="officer-name">Vacant</h3>
									<p></p>
									<h4 class="officer-title"><i class="fas fa-hat-wizard mr-2"></i>Project Coordinator</h4>
									<p class="hover-only d-none d-lg-block">Hover to Learn More</p>
								</div>
							</div>
							<div class="back">
								<div class="social-media-wrapper">
									<h3 style="color: #FFF;">Reach out for more info!</h3>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4">
					<div class="officer-card">
						<div class="officer-card-inner">
							<div class="front">
								<div class="officer-card-background-photo"></div>
								<div class="officer-card-photo photo-secretary"></div>
								<div class="officer-card-body">
									<h3 class="officer-name">Trey Dinges</h3>
									<p>he/him/his</p>
									<h4 class="officer-title"><i class="fas fa-hat-wizard mr-2"></i>Secretary</h4>
									<p><i class="fas fa-map-marker-alt front-icons mr-2"></i>Austin, TX</p>
									<p class="hover-only d-none d-lg-block">Hover to Learn More</p>
								</div>
							</div>
							<div class="back">
								<div class="social-media-wrapper">
									<a href="https://github.com/treydinges" class="social-icon" aria-label="Visit Trey's Github" title="Visit My Github" target="_blank"><i class="fab fa-github-alt"></i></a>
									<a href="https://www.linkedin.com/in/charles-dinges-02abb0169/" aria-label="Visit Trey's LinkedIn" class="social-icon" title="Connect with Me" target="_blank"><i class="fab fa-linkedin"></i></a>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4">
					<div class="officer-card">
						<div class="officer-card-inner">
							<div class="front">
								<div class="officer-card-background-photo"></div>
								<div class="officer-card-photo photo-prc"></div>
								<div class="officer-card-body">
									<h3 class="officer-name">Alan Nguyen</h3>
									<p>he/him/his</p>
									<h4 class="officer-title"><i class="fas fa-hat-wizard mr-2"></i>PR Coordinator</h4>
									<p><i class="fas fa-map-marker-alt front-icons mr-2"></i>Houston, TX</p>
									<p class="hover-only d-none d-lg-block">Hover to Learn More</p>
								</div>
							</div>
							<div class="back">
								<div class="social-media-wrapper">
									<a href="https://github.com/anguyen120" class="social-icon" aria-label="Visit Alan's Github" title="Visit My Github" target="_blank"><i class="fab fa-github-alt"></i></a>
									<a href="https://www.linkedin.com/in/anguyen120" class="social-icon" aria-label="Visit Alan's LinkedIn" title="Connect with Me" target="_blank"><i class="fab fa-linkedin"></i></a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/scripts/about-us.js"></script>
<%- include('partials/footer') %>