<%- include('partials/header') %>
			<div class="container-fluid pt-5">
				<div class="container my-5 pt-3">
					<div class="row contact">
						<div class="col-12 text-center">
							<h1 class="font-weight-bold page-header">Contact Us</h1>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-xs-12 col-md-6 text-center">
							<h1 class="font-weight-bold"><i class="far fa-chart-bar value-icon main-blue"></i></h1>
							<h4 class="font-weight-bold">Corporate Outreach</h4>
							<button class="btn btn-lg mt-3 mb-5 btn-contact" id="btnContactCorporate" type="button">Start Here</button>
						</div>

						<div class="col-xs-12 col-md-6 text-center">
							<h1 class="font-weight-bold"><i class="far fa-question-circle value-icon main-blue"></i></h1>
							<h4 class="font-weight-bold">General Questions</h4>
							<button class="btn btn-lg mt-3 btn-contact" id="btnContactGeneral" type="button">Start Here</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="divPlaceholder"></div>
		<div class="container" id="divGenContact">
			<div class="row justify-content-center my-5">
				<div class="col-xs-10 col-md-8">
					<!-- TODO: Link form -->
					<h3 class="font-weight-bold mb-3">General Questions</h3>
					<form>
						<div class="form-group">
							<label for="txtNameGen">Your Name</label>
							<input type="text" class="form-control" id="txtNameGen" name="txtNameGen" placeholder="Miss Reveille">
						</div>
						<div class="form-group">
							<label for="txtEmailGen">Email address</label>
							<input type="email" class="form-control" id="txtEmailGen" name="txtEmailGen" aria-describedby="emailHelp" placeholder="howdy@aggiedevs.com">
							<small id="emailHelp" class="form-text text-muted">We do not share your email with anyone.</small>
						</div>
						<div class="form-group">
							<label for="ddlSubjectGen">Subject</label>
							<select class="form-control" id="ddlSubjectGen" name="ddlSubjectGen">
								<option value="">Select One</option>
								<option>General Meetings</option>
								<option>Workshops</option>
								<option>Suggestion</option>
								<option>Feedback</option>
								<option>Other</option>
							</select>
						</div>
						<div class="form-group">
							<label for="txtCommentsGen">Question / Comments / Concerns</label>
							<textarea class="form-control" id="txtCommentsGen" name="txtCommentsGen" rows="3">How can we help?</textarea>
						</div>
						<div class="form-check">
							<input type="checkbox" class="form-check-input checkmark" id="chkTermsGen" name="chkTermsGen">
							<label class="form-check-label" for="chkTermsGen">I agree to the <a href="#">Terms & Conditions</a></label>
						</div>
						<div class="form-check mt-3">
							<input type="checkbox" class="form-check-input checkmark" id="chkNewsGen" name="chkNewsGen">
							<label class="form-check-label" for="chkNewsCorp">Join Our Newsletter</label>
						</div>
						<button type="submit" class="btn btn-contact btn-contact-slim mt-4">Send an Owl</button>
					</form>
				</div>
			</div>
		</div>

		<div class="container" id="divCorpContact">
			<div class="row justify-content-center my-5">
				<div class="col-xs-10 col-md-8">
					<h3 class="font-weight-bold mb-3">Corporate Outreach</h3>
					<!-- TODO: Link form -->
					<form>
						<div class="form-group">
							<label for="txtNameCorp">Your Name</label>
							<input type="text" class="form-control" id="txtNameCorp" name="txtNameCorp" placeholder="Miss Reveille">
						</div>
						<div class="form-group">
							<label for="txtCorp">Your Company</label>
							<input type="text" class="form-control" id="txtCorp" name="txtCorp" placeholder="Ministry of Magic">
						</div>
						<div class="form-group">
							<label for="txtEmailCorp">Email address</label>
							<input type="email" class="form-control" id="txtEmailCorp" name="txtEmailCorp" aria-describedby="emailHelp2" placeholder="howdy@aggiedevs.com">
							<small id="emailHelp2" class="form-text text-muted">We do not share your email with anyone.</small>
						</div>
						<div class="form-group">
							<label for="ddlSubjectCorp">Subject</label>
							<select class="form-control" id="ddlSubjectCorp" name="ddlSubjectCorp">
								<option value="">Select One</option>
								<option>Sponsorship</option>
								<option>Recruiting</option>
								<option>Workshops</option>
								<option>Giving a Presentation</option>
								<option>Other</option>
							</select>
						</div>
						<div class="form-group">
							<label for="txtCommentsCorp">Question / Comments / Concerns</label>
							<textarea class="form-control" id="txtCommentsCorp" name="txtCommentsCorp"  rows="3">How can we help?</textarea>
						</div>
						<div class="form-check">
							<input type="checkbox" class="form-check-input checkmark" id="chkTermsCorp" name="chkTermsCorp">
							<label class="form-check-label" for="chkTermsCorp">I agree to the <a class="" href="#">Terms & Conditions</a></label>
						</div>
						<div class="form-check mt-3">
							<input type="checkbox" class="form-check-input checkmark" id="chkNewsCorp" name="chkNewsCorp">
							<label class="form-check-label" for="chkNewsCorp">Join Our Corporate Newsletter</label>
						</div>
						<button type="submit" class="btn btn-contact btn-contact-slim mt-4">Send an Owl</button>
					</form>
				</div>
			</div>
		</div>

		<script src="/scripts/contact-us.js"></script>
<%- include('partials/footer') %>