<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Aggie Web Developers</title>
		<link rel="icon" type="image/png" href="../public/images/AWD-logo.png">

		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/44473cf6a5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../public/styles/main.css">

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

		<!-- TODO: Remove to its own JS Script -->
		<script type="text/javascript">
			$(function () {
				
				// navbar
				$(document).scroll(function () {
					$("#navbar").toggleClass('scrolled', $(this).scrollTop() > $("#navbar").height());
				});

				$('.navbar-toggler').on('click', function(){
					$("#navbar").addClass('scrolled');
				});

				// for the news cards
				$(window).on('load', function() {
					$('.post-module').hover(function() {
					    $(this).find('.description').stop().animate({
					      height: "toggle",
					      opacity: "toggle"
					    }, 300);
					});
				});
			});
		</script>
	</head>
  
	<body>
		<div class="home-banner-img navbar-fixed-top">
			<nav class="navbar navbar-expand-lg navbar-dark sticky" id="navbar">
			    <div id="navLeft" class="navbar-collapse collapse w-100 order-1 order-lg-0 dual-collapse2">
			        <ul class="navbar-nav ml-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="#">General Meetings</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Workshops</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Projects</a>
			            </li>
			        </ul>
			    </div>
			    <div class="mx-auto order-0 order-lg-1 flex-vert-center">
			        <a id="mainLogo" class="navbar-brand mx-auto" href="#"><i class="fas fa-angle-double-left pr-2" aria-hidden="true"></i>AWD<i class="fas fa-angle-double-right pl-2" aria-hidden="true"></i></a>
			        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
			            <span class="navbar-toggler-icon"></span>
			        </button>
			    </div>
			    <div id="navRight" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			        <ul class="navbar-nav mr-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Corporate Sponsors</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Our Team</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">About Us</a>
			            </li>
			        </ul>
			    </div>
			</nav>

			<div class="container content">
				<div class="d-flex-inline flex-row text-center">
					<div class="col-xs-12">
						<h1 class="home-banner-header">Aggie Web Developers</h1>
					</div>
				</div>
			</div>

			<!-- TODO: Add Post Route -->
			<form action="POSTROUTE" method="POST">
				<div class="d-none d-sm-flex flex-row justify-content-center">
					<div class="col-lg-10 col-xl-6">
						<div class="input-group input-group-lg mt-5 mb-3">
							<input type="text" id="txtEmail" name="txtEmail" class="form-control input-lg" placeholder="howdy@aggies.dev">

							<div class="input-group-append">
								<button class="btn" id="btnSubmitHome" type="submit">Join Our Community</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="container my-5">
			<div class="d-flex flex-row my-4">
				<div class="col-sm-12 text-center">
					<h1 class="home-icon">We are</h1>
				</div>
			</div>
			<div class="d-lg-flex flex-row justify-content-between">
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-chalkboard-teacher"></i></h1>
					<h2>Leaders</h2>
					<p>
						Brainstorming ideas, spreading knowledge, and empowering success in one another. AWD strives for selfless devotion towards nourishing a space that support the next generation of web developers.
					</p>
				</div>
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-users"></i></h1>
					<h2>Learners</h2>
					<p>
						Whether you're neck-deep in full-stack adaptive design or just getting started with "Hello World!", AWD promotes a camaraderic and engaging environment that will help you learn, regardless of skill level.
					</p>
				</div>
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-terminal"></i></h1>
					<h2>Web Developers</h2>
					<p>
						Others tend to place web development into the "programming" category, we place a spotlight on design. Projects you develop at AWD will give you the "Wow!" factor employers are seeking.
					</p>
				</div>
			</div>
		</div>

		<div class="activities-banner-img py-4">
			<div class="container">
				<div class="d-flex flex-row my-4">
					<div class="col-sm-12 text-center">
						<h1 class="home-icon font-weight-bold">What Can We Do For You?</h1>
					</div>
				</div>
				<div class="d-lg-flex flex-row justify-content-between mt-5">
					<div class="col-sm-12 col-lg-6 text-center mt-5">
						<h2 class="font-weight-bold">Workshops</h2>
						<p class="px-2">
							Weekly workshops alternate between beginner / advanced sessions, each giving you the opportunity to gain hands-on experience.
						</p>
					</div>
					<div class="col-sm-12 col-lg-6 text-center mt-5">
						<h2 class="font-weight-bold">Projects</h2>
						<p class="px-2">
							Semester-long projects led by groomed product managers, using a consistent tech stack, and held to realistic deadlines.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">News and Events</h1>

			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
						    <div class="column">
						        <div class="post-module">
						            <!-- Thumbnail-->
						            <div class="thumbnail">
						                <div class="date">
						                    <div class="day">27</div>
						                    <div class="month">Mar</div>
						                </div><img src="https://images.unsplash.com/photo-1527237968793-db9b620add97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80" /></div>
						            <!-- Post Content-->
						            <div class="post-content">
						                <div class="category">Workshop</div>
						                <h1 class="title">Cookies & CSS</h1>
						                <h2 class="sub_title">Learn stylesheets and snack.</h2>
						                <p class="description">
						                	Join AWD, Friday, March 27th as we explore the basics of CSS while snacking on a themed treat: cookies! Bring a laptop and a friend,
						                	cookies and refreshments will be provided.
						                </p>
						                <div class="post-meta">
						                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>Friday, March 27th</span>
						                </div>
						                <div class="post-meta mt-2">
						                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>HRBB 124</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="card-container">
					    <div class="column">
					        <div class="post-module">
					            <!-- Thumbnail-->
					            <div class="thumbnail">
					                <div class="date">
					                    <div class="day">27</div>
					                    <div class="month">Mar</div>
					                </div><img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" /></div>
					            <!-- Post Content-->
					            <div class="post-content">
					                <div class="category">Workshop</div>
					                <h1 class="title">Cookies & CSS</h1>
					                <h2 class="sub_title">Learn stylesheets and snack.</h2>
					                <p class="description">
					                	Join AWD, Friday, March 27th as we explore the basics of CSS while snacking on a themed treat: cookies! Bring a laptop and a friend,
					                	cookies and refreshments will be provided.
					                </p>
					                <div class="post-meta">
					                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>Friday, March 27th</span>
					                </div>
					                <div class="post-meta mt-2">
					                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>HRBB 124</span>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="card-container">
					    <div class="column">
					        <div class="post-module">
					            <!-- Thumbnail-->
					            <div class="thumbnail">
					                <div class="date">
					                    <div class="day">27</div>
					                    <div class="month">Mar</div>
					                </div><img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80" /></div>
					            <!-- Post Content-->
					            <div class="post-content">
					                <div class="category">Workshop</div>
					                <h1 class="title">Cookies & CSS</h1>
					                <h2 class="sub_title">Learn stylesheets and snack.</h2>
					                <p class="description">
					                	Join AWD, Friday, March 27th as we explore the basics of CSS while snacking on a themed treat: cookies! Bring a laptop and a friend,
					                	cookies and refreshments will be provided.
					                </p>
					                <div class="post-meta">
					                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>Friday, March 27th</span>
					                </div>
					                <div class="post-meta mt-2">
					                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>HRBB 124</span>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer navbar-fixed-bottom">
			<div class="container py-3">
				


				<h6 class="text-center">Copyright &copy; 2020 Aggie Web Developers</h6>
			</div>
		</div>
	</body>
</html>