<%- include('partials/header') %>

			<div class="container content">
				<div class="d-flex-inline flex-row text-center">
					<div class="col-xs-12">
						<h1 class="home-banner-header">Aggie Web Developers</h1>
					</div>
				</div>
			</div>

			<form id="frm" action="/" method="POST" class="d-none mt-5">
				<div class="d-none d-sm-flex flex-row justify-content-center">
					<div class="col-lg-10 col-xl-6">
						<div class="input-group input-group-lg mb-3">
							<input type="email" id="txtEmail" name="txtEmail" class="form-control input-lg" placeholder="howdy@aggiedevelopers.com" required>

							<div class="input-group-append">
								<button class="btn" id="btnSubmitHome" type="submit">Join Our Community</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="container my-5">
			<div class="d-flex flex-row my-4">
				<div class="col-sm-12 text-center">
					<h1 class="home-icon">We are</h1>
				</div>
			</div>
			<div class="d-lg-flex flex-row justify-content-between">
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-chalkboard-teacher"></i></h1>
					<h2>Leaders</h2>
					<p>
						Brainstorming ideas, spreading knowledge, and empowering success in one another. AWD strives for selfless devotion towards nourishing a space that supports the next generation of web developers.
					</p>
				</div>
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-users"></i></h1>
					<h2>Learners</h2>
					<p>
						Whether you're neck-deep in full-stack adaptive design or just getting started with "Hello World!", AWD promotes a collaborative and engaging environment that will help you learn, regardless of skill level.
					</p>
				</div>
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-terminal"></i></h1>
					<h2>Web Developers</h2>
					<p>
						Others tend to place web development into the "programming" category, we place a spotlight on design. Projects you develop at AWD will give you the "Wow!" factor employers are seeking.
					</p>
				</div>
			</div>
		</div>

		<div class="activities-banner-img py-4">
			<div class="container">
				<div class="d-flex flex-row my-4">
					<div class="col-sm-12 text-center">
						<h1 class="what-can-we-do">What Can We Do For You?</h1>
					</div>
				</div>
				<div class="d-lg-flex flex-row justify-content-between mt-5">
					<div class="col-sm-12 col-lg-6 text-center mt-5">
						<h2 class="font-weight-bold">Workshops</h2>
						<p class="px-2">
							Weekly workshops alternate between beginner and advanced sessions, each allowing you to gain hands-on experience in web development and design.
						</p>
					</div>
					<div class="col-sm-12 col-lg-6 text-center mt-5">
						<h2 class="font-weight-bold">Projects</h2>
						<p class="px-2">
							Real semester-long projects led by seasoned product managers, using a consistent tech stack and held to realistic deadlines.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">News and Events</h1>

			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
						    <div class="column">
						        <div class="post-module">
						            <!-- Thumbnail-->
						            <div class="thumbnail">
										<img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
									</div>
						            <!-- Post Content-->
						            <div class="post-content">
						                <div class="category">News</div>
						                <h1 class="title">AWD Website</h1>
						                <h2 class="sub_title">Organization Website Nearing Release</h2>
						                <p class="description">
						                	AWD is proud to announce the first version of our website is nearing completion. We will begin testing shortly before officially designating a release.
						                </p>
						                <div class="post-meta">
						                	<span class="timestamp" title="News Post Date"><i class="far fa-calendar-alt mr-2"></i>Tuesday, June 2nd</span>
						                </div>
						                <div class="post-meta mt-2">
						                	<span class="timestamp" title="Author"><i class="fas fa-user-edit mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
						    <div class="column">
						        <div class="post-module">
						            <div class="thumbnail">
						                <div class="date">
						                    <div class="day">Day</div>
						                    <div class="month">TBD</div>
						                </div><img src="https://images.unsplash.com/photo-1586980368323-8ce5db4c85ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1015&q=80" /></div>
						            <div class="post-content">
						                <div class="category">Meeting</div>
						                <h1 class="title">Zoom Meeting</h1>
						                <h2 class="sub_title">Virtual Informational & Social</h2>
						                <p class="description">
						                	Join AWD at a time TBD for our first *virtual* social. You will have a chance to learn more about the organization and have your questions answered. Details to come.
						                </p>
						                <div class="post-meta">
						                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>TBD</span>
						                </div>
						                <div class="post-meta mt-2">
						                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>Zoom</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
<%- include('partials/footer') %>