<%- include('partials/header') %>

			<div class="container content">
				<div class="d-flex-inline flex-row text-center">
					<div class="col-xs-12">
						<h1 class="home-banner-header">Aggie Web Developers</h1>
					</div>
				</div>
			</div>

			<form id="frm" action="/" method="POST" class="d-none mt-5">
				<div class="d-none d-sm-flex flex-row justify-content-center">
					<div class="col-lg-10 col-xl-6">
						<div class="input-group input-group-lg mb-3">
							<input type="email" id="txtEmail" name="txtEmail" class="form-control input-lg" placeholder="howdy@aggies.dev" required>

							<div class="input-group-append">
								<button class="btn" id="btnSubmitHome" type="submit">Join Our Community</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="container my-5">
			<div class="d-flex flex-row my-4">
				<div class="col-sm-12 text-center">
					<h1 class="home-icon">We are</h1>
				</div>
			</div>
			<div class="d-lg-flex flex-row justify-content-between">
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-chalkboard-teacher"></i></h1>
					<h2>Leaders</h2>
					<p>
						Brainstorming ideas, spreading knowledge, and empowering success in one another. AWD strives for selfless devotion towards nourishing a space that support the next generation of web developers.
					</p>
				</div>
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-users"></i></h1>
					<h2>Learners</h2>
					<p>
						Whether you're neck-deep in full-stack adaptive design or just getting started with "Hello World!", AWD promotes a camaraderic and engaging environment that will help you learn, regardless of skill level.
					</p>
				</div>
				<div class="col-sm-12 col-lg-4 text-center">
					<h1 class="home-icon main-purple"><i class="fas fa-terminal"></i></h1>
					<h2>Web Developers</h2>
					<p>
						Others tend to place web development into the "programming" category, we place a spotlight on design. Projects you develop at AWD will give you the "Wow!" factor employers are seeking.
					</p>
				</div>
			</div>
		</div>

		<div class="activities-banner-img py-4">
			<div class="container">
				<div class="d-flex flex-row my-4">
					<div class="col-sm-12 text-center">
						<h1 class="what-can-we-do">What Can We Do For You?</h1>
					</div>
				</div>
				<div class="d-lg-flex flex-row justify-content-between mt-5">
					<div class="col-sm-12 col-lg-6 text-center mt-5">
						<h2 class="font-weight-bold">Workshops</h2>
						<p class="px-2">
							Weekly workshops alternate between beginner / advanced sessions, each giving you the opportunity to gain hands-on experience.
						</p>
					</div>
					<div class="col-sm-12 col-lg-6 text-center mt-5">
						<h2 class="font-weight-bold">Projects</h2>
						<p class="px-2">
							Semester-long projects led by groomed product managers, using a consistent tech stack, and held to realistic deadlines.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">News and Events</h1>

			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
						    <div class="column">
						        <div class="post-module">
						            <!-- Thumbnail-->
						            <div class="thumbnail">
						                <div class="date">
						                    <div class="day">27</div>
						                    <div class="month">Mar</div>
						                </div><img src="https://images.unsplash.com/photo-1527237968793-db9b620add97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80" /></div>
						            <!-- Post Content-->
						            <div class="post-content">
						                <div class="category">Workshop</div>
						                <h1 class="title">Cookies & CSS</h1>
						                <h2 class="sub_title">Learn stylesheets and snack.</h2>
						                <p class="description">
						                	Join AWD, Friday, March 27th as we explore the basics of CSS while snacking on a themed treat: cookies! Bring a laptop and a friend,
						                	cookies and refreshments will be provided.
						                </p>
						                <div class="post-meta">
						                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>Friday, March 27th</span>
						                </div>
						                <div class="post-meta mt-2">
						                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>HRBB 124</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
						    <div class="column">
						        <div class="post-module">
						            <!-- Thumbnail-->
						            <div class="thumbnail">
						                <div class="date">
						                    <div class="day">27</div>
						                    <div class="month">Mar</div>
						                </div><img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" /></div>
						            <!-- Post Content-->
						            <div class="post-content">
						                <div class="category">Workshop</div>
						                <h1 class="title">Cookies & CSS</h1>
						                <h2 class="sub_title">Learn stylesheets and snack.</h2>
						                <p class="description">
						                	Join AWD, Friday, March 27th as we explore the basics of CSS while snacking on a themed treat: cookies! Bring a laptop and a friend,
						                	cookies and refreshments will be provided.
						                </p>
						                <div class="post-meta">
						                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>Friday, March 27th</span>
						                </div>
						                <div class="post-meta mt-2">
						                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>HRBB 124</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
						    <div class="column">
						        <div class="post-module">
						            <!-- Thumbnail-->
						            <div class="thumbnail">
						                <div class="date">
						                    <div class="day">27</div>
						                    <div class="month">Mar</div>
						                </div><img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-1.2.1&auto=format&fit=crop&w=926&q=80" /></div>
						            <!-- Post Content-->
						            <div class="post-content">
						                <div class="category">Workshop</div>
						                <h1 class="title">Cookies & CSS</h1>
						                <h2 class="sub_title">Learn stylesheets and snack.</h2>
						                <p class="description">
						                	Join AWD, Friday, March 27th as we explore the basics of CSS while snacking on a themed treat: cookies! Bring a laptop and a friend,
						                	cookies and refreshments will be provided.
						                </p>
						                <div class="post-meta">
						                	<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>Friday, March 27th</span>
						                </div>
						                <div class="post-meta mt-2">
						                	<span class="timestamp"><i class="fas fa-map-marker-alt mr-2"></i>HRBB 124</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
<%- include('partials/footer') %>