<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>AWD - Projects</title>
		<link rel="icon" type="image/png" href="../public/images/AWD-logo.png">

		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/44473cf6a5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../public/styles/main.css">

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</head>

	<body>
		<div class="page-banner projects-banner navbar-fixed-top">
			<nav class="navbar navbar-expand-lg navbar-dark sticky" id="navbar">
			    <div id="navLeft" class="navbar-collapse collapse w-100 order-1 order-lg-0 dual-collapse2">
			        <ul class="navbar-nav ml-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="#">General Meetings</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Projects</a>
			            </li>
			        </ul>
			    </div>
			    <div class="mx-auto order-0 order-lg-1 flex-vert-center">
			        <a id="mainLogo" class="navbar-brand mx-auto" href="#"><i class="fas fa-angle-double-left pr-2" aria-hidden="true"></i>AWD<i class="fas fa-angle-double-right pl-2" aria-hidden="true"></i></a>
			        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
			            <span class="navbar-toggler-icon"></span>
			        </button>
			    </div>
			    <div id="navRight" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			        <ul class="navbar-nav mr-auto">
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Sponsors</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">About Us</a>
			            </li>
			            <li class="nav-item active">
			                <a class="nav-link" href="#">Contact Us</a>
			            </li>
			        </ul>
			    </div>
			</nav>

			<div class=" text-center">
				<div class="container">
					<div class="row justify-content-center">
						<h1 class="font-weight-bold page-header">Projects</h1>
					</div>

					<div class="row mt-5">
						<h4 class="projects-text">AWD provides project oppurtunities for all our members. We complete projects for other A&M student organizaitons, or just things our members find interesting. Below you can see what we have completed, what we are working on, and what's up next for us.</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">Current Projects</h1>

			<div class="row justify-content-center">

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="../public/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="../public/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="../public/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>In Progress</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">Completed Projects</h1>

			<div class="row justify-content-center">

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="../public/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="../public/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="../public/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			
			</div>
		</div>

		<div class="footer navbar-fixed-bottom">
			<div class="container py-2">
				<div class="row justify-content-center mt-5">
					<h1 class="font-weight-bold text-uppercase text-center">Stay in Touch</h1>
				</div>
				<div class="row justify-content-center mt-3">
					<div class="col-6 text-center icon-row">
						<a class="white-link" href=""><i class="fab fa-linkedin px-2"></i></a>
						<a class="white-link" href=""><i class="fas fa-envelope px-2"></i></a>
						<a class="white-link" href=""><i class="fab fa-github-alt px-2"></i></a>
						<a class="white-link" href=""><i class="fab fa-instagram px-2"></i></a>
					</div>
				</div>

				<div class="row justify-content-center mt-5">
					<h6 class="text-center footer-copyright">Copyright &copy; 2020 Aggie Web Developers - <a class="white-link" href="">Terms & Conditions + Privacy Policy</a></h6>
				</div>
			</div>
		</div>

		<script src="../public/scripts/projects.js"></script>

	</body>
</html>
