<%- include('partials/header') %>
			<div class=" text-center">
				<div class="container">
					<div class="row justify-content-center">
						<h1 class="font-weight-bold page-header">Projects</h1>
					</div>

					<div class="row mt-5">
						<h4 class="projects-text">AWD provides project opportunities for all our members. We complete projects for other A&M student organizations or just things our members find interesting. Below you can see what we have completed, what we are working on, and what's up next for us.</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">Current Projects</h1>

			<div class="row justify-content-center">

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>In Progress</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			
			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">Completed Projects</h1>

			<div class="row justify-content-center">

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-10 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="project-card-container">
						    <div class="project-column">
						        <div class="project-module">
						            <!-- Project Thumbnail-->
						            <div class="project-thumbnail">
						                <img src="/images/sample-project-photo.png" />
						            </div>
						            <!-- Post Content-->
						            <div class="project-content">
						                <h1 class="title">AWD Site</h1>
						                <h2 class="sub_title">Full Stack Development</h2>
						                <p class="description">
						                	<a class="btn btn-outline-purple mt-4" href="">View on <i class="fab fa-github-alt px-2"></i></a>
						                	<a class="btn btn-purple mt-4" href="">Preview Site</a>
						                </p>
						                <div class="project-button-info">
						                	<span class="project-timestamp" title="Project Duration"><i class="fas fa-clock mr-2"></i>2 Months</span>
						                </div>
						                <div class="project-button-info mt-2">
						                	<span class="project-timestamp" title="Project Manager"><i class="fas fa-project-diagram mr-2"></i>Cole D. Connelly</span>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			
			</div>
		</div>

		<script src="scripts/projects.js"></script>
<%- include('partials/footer') %>