	<div class="navbar-fixed-bottom portal-footer">
			<div class="container py-2">
				<div class="row justify-content-center mt-5">
					<p class="text-center footer-copyright font-500">Copyright &copy; 2020 Aggie Web Developers - <a class="white-link" href="/terms-and-conditions" target="_blank">Terms & Conditions</a> + <a class="white-link" href="/privacy-policy" target="_blank">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</body>
</html>