/*****************************************************************/
/**************************** COLORS ****************************/
/*****************************************************************/

:root {
  --color-primary-dark: #2930ca;
  --color-primary-dark-rgb: 41, 48, 202;
  --color-primary: #686de0;
  --color-primary-light: #aeb1ee;
  --color-primary-lightest: #d7d9f7;

  --color-secondary-dark: #ffbe00;
  --color-secondary: #ffd866;
  --color-secondary-light: #fff2cc;

  --color-gray-darkest: #2d2a2e;
  --color-gray-darkest-rgb: 45, 42, 46;
  --color-gray-dark: #474557;
  --color-gray: #c7c7d3;
  --color-gray-light: #e2e2ed;
  --color-gray-lightest: #f5f5fc;

  --color-red: #e74c3c;
}