@import "./components/scrollbar.css";

@import "./partials/base.css";

@import "./variables/colors.css";



textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	box-shadow: none !important;
}

