/*****************************************************************/
/**************************** MEMBER TESTIMONIALS ****************************/
/*****************************************************************/

.section-member-testimonials {
  background-color: var(--color-gray-lightest);
  padding: 6.4rem 5.6rem;

  display: flex;
  justify-content: center;
}

.container-member-testimonials {
  width: 160rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-cards {
  margin-top: 6rem;
  
  display: flex;
  gap: 6.4rem;
}
