/*****************************************************************/
/**************************** MEMBER TESTIMONIALS ****************************/
/*****************************************************************/

.section-member-testimonials {
  background-color: var(--color-gray-lightest);
  padding: 6.4rem 5.6rem;

  display: flex;
  justify-content: center;
}

.container-member-testimonials {
  max-width: 160rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-cards {
  margin-top: 6rem;
  grid-area: cards;
  
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.carousel {
  position: relative;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas:
  "left-btn cards right-btn";
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.carousel-control {
  position: relative;

  width: 5rem;
  height: auto;
  opacity: 0.4;
  filter: drop-shadow(-0.4rem 0.4rem 0.5rem rgb(0, 0, 0, .85));
}
.carousel-control path { fill: var(--color-secondary-dark); }

.carousel-control:hover {
  cursor: pointer;
  opacity: 1;
}

.carousel-control:active {
  filter: drop-shadow(-0.2rem 0.2rem 0.3rem rgb(0, 0, 0, .75));
  transform: scale(0.98) translate(-0.3rem, 0.3rem);
}
.carousel-control:active path { fill: var(--color-secondary); }

.carousel-control--left {
  grid-area: left-btn;
  justify-self: end;
  right: 2rem;
}

.carousel-control--right {
  grid-area: right-btn;
  justify-self: start;
  left: 2rem;
}

@media only screen and (max-width: 1400px) {
  .container-member-testimonials .testimonial-card:nth-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .container-member-testimonials .testimonial-card:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control {
    width: 3rem;
  }
}

@media only screen and (max-width: 525px) {
  .carousel {
    grid-template-areas:
    "cards cards cards"
    "left-btn --- right-btn";
    row-gap: 2rem;
  }
  .carousel-control {
    left: 0;
    right: 0;
  }
}
