/*****************************************************************/
/**************************** NEWS AND EVENTS ****************************/
/*****************************************************************/

.section-news-and-events {
  background-color: var(--color-primary-lightest);
  padding: 6.4rem 5.6rem;

  display: flex;
  justify-content: center;
}

.container-news-and-events {
  max-width: 160rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-cards {
  margin-top: 6rem;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6.4rem;
}
