/*****************************************************************/
/**************************** NEWS AND EVENTS ****************************/
/*****************************************************************/

.section-news-and-events {
  background-color: var(--color-primary-lightest);
  padding: 6.4rem 5.6rem;

  display: flex;
  justify-content: center;
}

.container-news-and-events {
  width: 160rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-cards {
  display: flex;
  gap: 6.4rem;
}
