/*****************************************************************/
/**************************** BASE ****************************/
/*****************************************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-size: 50%;
  transition: all 0.1s;
}

body {
  font-family: filson-pro, sans-serif;
  max-width: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 1.8rem;
  color: var(--color-gray-darkest);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
