/*****************************************************************/
/**************************** TYPOGRAPHY ****************************/
/*****************************************************************/

.heading-primary {
  font-size: 10rem;
  font-weight: 200;
}

.heading-secondary {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 12rem;
}

.heading-tertiary {
  font-size: 4rem;
  font-weight: 400;
}

p {
  font-size: 2.4rem;
  font-weight: 300;
}

input {
  font-family: inherit;
}
