/*****************************************************************/
/**************************** TESTIMONIAL CARD ****************************/
/*****************************************************************/

.testimonial-card {
  flex: 1;
  width: 100%;
  max-width: 80rem;
  height: 50rem;
  border-radius: 5.6rem;
  overflow: hidden;

  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;

  display: flex;
  flex-direction: column;
}

.testimonial-card__body {
  padding: 3.2rem 3.1rem;
  background-color: var(--color-primary-light);
  font-weight: 300;
  height: 77.5%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.testimonial-card__quotation-mark-container {
  display: flex;
  justify-content: center;
}

.testimonial-card__quotation-mark {
  width: 7.6rem;
  height: auto;
}

.testimonial-card__quote {
  text-align: center;
  line-height: 1.2;
  hyphens: auto;
}

.testimonial-card__footer {
  background-color: var(--color-primary);
  padding: 0.2rem 4.4rem;
  height: 22.5%;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.testimonial-card__member-details {
  height: 8rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimonial-card__member-name {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--color-gray-lightest);
}

.testimonial-card__member-position {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-gray-lightest);
}

@media only screen and (max-width: 425px) {
  .testimonial-card {
    height: 56rem;
  }
  .testimonial-card__member-name {
    font-size: 2rem;
  }
}
